body {
    margin:0;
    background-color: #EEEEEE;
    font-family: Papyrus, fantasy;
}

/* h1 {
    
} */

form {
    display:flex;
    gap:20px;
    flex-direction: column;
    align-items: center;
    margin-top:50px;
}

form > div {
    flex:1;
}

input {
    flex:1;
    height:30px;
    width: 400px;
    font-size:large;
}

button {
    height:40px;
    cursor: pointer;
    background-color: #1B75D0;
    color:white;
    border:none;
    border-radius: 4px;
    padding: 5px 40px;
}

button:hover{
    box-shadow: 1px 1px black;
}

button:active{
    opacity:0.9;
}

#home-page {
    margin:10px;
    text-align: center;
}

#home-page > h1 {
    font-size:36px;
}

.Link {
    color:red;
    font-size:30px;
}
.thumbnail-list-box {
    display:grid;
}

/* 16:9 */
.thumbnail-box {
    padding:10px;
    margin:20px;
    width:160px;
    height:90px;
}